:root {
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-txt-clr: #555555;
    --white-txt-clr: #FFFFFF;
    --light-txt-clr: #9DA4BD;
    --dark-txt-clr: #303030;
    --main-bg-clr: #FFFFFF;
    --secondary-bg-clr: #F7F7F7;
    --dark-bg-clr: #111319;
    --footer-bg-clr: #191C26;
    --accent-clr: #FF6C00;
    --social-icon-fill: #303030;
    --indent: 30px;
    --items: 2;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid red;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: var(--main-font);
    font-size: 18px;
    background-color: var(--main-bg-clr);
    color: var(--main-txt-clr);
}

/* Card set */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

/* Reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    border: 0px;
}

/*Header*/

.header {
    background-color: var(--dark-bg-clr);
    
}

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    margin-right: 131px;
}

.logo {
    fill: var(--dark-txt-clr)
}

.header-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item, .phone {
    display: block;
    padding-top: 52px;
    padding-bottom: 52px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--white-txt-clr);
}

.nav-item:hover, .nav-item:focus,
.phone:hover, .phone:focus {
    color: var(--accent-clr);
}

.phone {
    margin-right: 40px;
}

.white-btn {
    padding: 11px 19px;
    min-width: 160px;
    min-height: 40px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-txt-clr);
    
    background-color: transparent;
    border: 1px solid var(--accent-clr);
    border-radius: 25px;
}

/*About*/

.about-container {
    display: flex;

}